<div class="modal-header">
    <h4 class="modal-title">Change password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #changePasswordForm="ngForm" (ngSubmit)="save(changePasswordForm)">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input
          type="password"
          id="currentPassword"
          class="form-control"
          [(ngModel)]="password.currentPassword"
          name="currentPassword"
          required
          #currentPassword="ngModel">
        <div *ngIf="currentPassword.invalid && currentPassword.touched" class="text-danger">
          Current password is required.
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          [(ngModel)]="password.newPassword"
          name="newPassword"
          required
          minlength="6"
          #newPassword="ngModel">
        <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
          New password is required and must be at least 6 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input
          type="password"
          id="confirmNewPassword"
          class="form-control"
          [(ngModel)]="password.confirmNewPassword"
          name="confirmNewPassword"
          required
          #confirmNewPassword="ngModel">
        <div *ngIf="confirmNewPassword.invalid && confirmNewPassword.touched" class="text-danger">
          Confirming the new password is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Zapisz</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Anuluj</button>
    </form>
  </div>
  