<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Consumer Purchase Monitor</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="userDropdown"
            ngbDropdownToggle
          >
            Witaj, {{ this.authService.currentUserValue.email }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/purchases">My Purchases</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
