<div class="row">
    <div class="col-md-9">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <p>{{ product.category }}</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-md-right">{{ product.price }}zł</h2>
      <div>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill"><em class="fa fa-star text-warning"></em></span><em
                class="fa fa-star-o text-warning cursor"></em>
            </span>
          </ng-template>
          <ngb-rating [max]="5" [(rate)]="product.averageRating" [readonly]="true" [starTemplate]="t">
          </ngb-rating>
    </div>
    </div>
  </div>
  <hr>

  <app-comments [id]="product.id"></app-comments>