.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  }
  .text-warning {
    color: #ff902b !important;
  }