<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Dodaj Produkt</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

	<div class="modal-body">
		<form>
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" name="name" [(ngModel)]="product.name" required>
            </div>
            
            <div class="mb-3">
              <label for="description">Description</label>
              <input type="text" id="description" class="form-control" name="description" [(ngModel)]="product.description" required>
            </div>
            
            <div class="mb-3">
              <label for="price">Price</label>
              <input type="number" id="price" class="form-control" name="price" [(ngModel)]="product.price" required>
            </div>
            
            <div class="mb-3">
              <label for="category">Category</label>
              <input type="text" id="category" class="form-control" name="category" [(ngModel)]="product.category" required>
            </div>
          </form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close(addProduct())">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-success" (click)="open(content)">Dodaj Produkt</button>