<section style="background-color: #eee;">

  <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
    <ng-container *ngIf="!showReplyFormId; else replyForm">
      <div class="d-flex align-items-end mb-3 justify-content-end">
        <div class="flex-grow-1" style="padding: 20px;">
          <label class="form-label">Comment:</label>
          <textarea class="form-control" [(ngModel)]="content" rows="4" style="background: #ffffff; border: 1px solid #ffffff; padding: 8px; margin-top: 5px;"></textarea>
          <button type="button" class="btn btn-primary mt-3" style="font-size: 14px; padding: 6px 12px;" (click)="postComment(id, content)">
            Post comment
          </button>
        </div>
      </div>
    </ng-container>
  
    <ng-template #replyForm>
      <div class="d-flex align-items-end mb-3 justify-content-end">
        <div class="flex-grow-1" style="padding: 20px;">
          <label class="form-label">Reply:</label>
          <textarea class="form-control" [(ngModel)]="replyContent" rows="4" style="background: #ffffff; border: 1px solid #ffffff; padding: 8px; margin-top: 5px;"></textarea>
          <button type="button" class="btn btn-primary mt-3" style="font-size: 14px; padding: 6px 12px;" (click)="postReply(id, showReplyFormId, replyContent)">
            Post reply
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  

  <div class="d-flex align-items-center justify-content-end mb-3">
    <div class="btn-group me-2 ms-auto">
      <button type="button" class="btn btn-outline-secondary" [class.active]="filter.SortBy === 'newest'" (click)="filter.SortBy='newest'; getComments()">
        Sort by Date
      </button>
      <button type="button" class="btn btn-outline-secondary" [class.active]="filter.SortBy === 'best'" (click)="filter.SortBy='best'; getComments()">
        Sort by Rating
      </button>
    </div>
    
    <select class="form-select me-2" style="width: auto" [(ngModel)]="filter.PageSize" (ngModelChange)="filter.PageNumber=1; getComments()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
    </select>
  </div>
  
  <app-comment-cover *ngFor="let comment of comments" [comment]="comment" (likeClicked)="getComments()" (replyClicked)="toggleReplyForm(comment)"></app-comment-cover>

  <div class="d-flex justify-content-between align-items-center p-2">
    <ngb-pagination [collectionSize]="pagination.totalItemsCount" [(page)]="filter.PageNumber" [pageSize]="filter.PageSize" (pageChange)="getComments()">
    </ngb-pagination>
  </div>
</section>
